<div class="jumbotron jumbotron-fluid rounded returned-block animated fadeInLeft">
    <div class="container ">
      <div>
          <h3 class="lead">Shared books:</h3>
          <div class="table-responsive">
              <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Title</th>
                      <th scope="col">Author</th>
                      <th scope="col">Year</th>
                      <th scope="col">Genre</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let book of sharedBooks">
                      <th scope="row">{{book.Id}}</th>
                      <td>{{book.Title}}</td>
                      <td>{{book.Author}}</td>
                      <td>{{book.Year}}</td>
                      <td>{{book.Genre}}</td>
                    </tr>
                  </tbody>
                  
                </table>
                <button type="button" class="btn btn-outline-danger" routerLink="../share"  mdbWavesEffect>Share Book</button>
          </div>
        </div>
    </div>
</div>