<!-- <br>
<br>
<br>
<div class="jumbotron log container">
  <div class="container" >
    <h2>Registration</h2>
    <div class="md-form input-group ">
      <input type="text" class="form-control" placeholder=" user name" aria-describedby="basic-addon2">
      <div class="input-group-append" id="basic-addon2">
      </div>
    </div>
    <div class="md-form input-group">
      <input type="text" class="form-control" placeholder=" user surname" aria-describedby="basic-addon2">
      <div class="input-group-append" id="basic-addon2"></div>
    </div>
    <div class="md-form input-group ">
        <input type="text" class="form-control" placeholder=" e-mail" aria-describedby="basic-addon2">
        <div class="input-group-append" id="basic-addon2">
        </div>
      </div>
    <div class="md-form input-group ">
        <input type="text" class="form-control" placeholder="password" aria-describedby="basic-addon2">
        <div class="input-group-append" id="basic-addon2">
        </div>
      </div>
      <button type="button" class="btn btn-outline-danger btn-rounded" mdbWavesEffect>Cancel</button>
      <button type="button" class="btn btn-outline-success btn-rounded" mdbWavesEffect>Register</button>
  </div>
</div> -->

<!-- Register form -->
<div class="log container jumbotron">
  <form [formGroup]="registerForm">
    <p class="h5 text-center mb-4">Sign up</p>

    <div class="md-form"> 
      <i class="fa fa-user prefix grey-text"></i>
      <input type="text" formControlName="orangeFormFirstName" id="orangeForm-firstName" class="form-control" mdbInputDirective>
      <label for="orangeForm-name">First Name</label>
    </div>
    <div class="md-form">
      <i class="fa fa-user prefix grey-text"></i>
      <input type="text" formControlName="orangeFormLastName" id="orangeForm-lastName" class="form-control" mdbInputDirective>
      <label for="orangeForm-lastName">Last Name</label>
    </div>
    <div class="md-form">
      <i class="fa fa-envelope prefix grey-text"></i>
      <input type="text" formControlName="orangeFormEmail" id="orangeForm-email" class="form-control" mdbInputDirective>
      <label for="orangeForm-email">Your email</label>
    </div>

    <div class="md-form">
      <i class="fa fa-lock prefix grey-text"></i>
      <input type="password" formControlName="orangeFormPass" id="orangeForm-pass" class="form-control" mdbInputDirective>
      <label for="orangeForm-pass">Your password</label>
    </div>

    <div class="text-center"> 
      <input class="btn btn-deep-orange waves-light" value="Sign up"
             (click)="onClickRegistration(registerForm.value)"
             routerLink="../dashboard"  mdbWavesEffect>
    </div>
  </form>
</div> 
<!-- Register form -->