 <div class="grid">
  <!-- Sidebar -->
  <div class="sidebar-fixed position-fixed position">
    
    <a class="logo-wrapper waves-effect">
        <!-- <img src="../../../../assets/img/angular-mdb.png" class="img-fluid" alt=""> -->
        <p>Hi , ...</p>
    </a>

    <div class="list-group list-group-flush">

        <a routerLink="profiles/profile1" routerLink="request" routerLinkActive="active"  class="list-group-item list-group-item-action waves-effect">
            <i class="fa fa-exclamation mr-3"></i>Request</a>
        <a routerLink="maps/map1" routerLink="share" routerLinkActive="active"  class="list-group-item list-group-item-action waves-effect">
            <i class="fa fa-exclamation mr-3"></i>Share</a>
        <a routerLink="nonExistingPath" routerLink="requested-books" routerLinkActive="active"   class="list-group-item list-group-item-action waves-effect">
            <i class="fa fa-exclamation mr-3"></i>Requested Book <br> (return book)</a>
        <a routerLink="maps/map1" routerLink="returned-books" routerLinkActive="active"  class="list-group-item list-group-item-action waves-effect">
            <i class="fa fa-exclamation mr-3"></i>Returned Book</a>
        <a routerLink="nonExistingPath" routerLink="shared-books" routerLinkActive="active"   class="list-group-item list-group-item-action waves-effect">
            <i class="fa fa-exclamation mr-3"></i>Shared Book</a>

    </div>

  </div>
  <!-- Sidebar -->

  <router-outlet></router-outlet>

</div>