.jumb {
    opacity: 0.8;
    margin-top: 200px;
}
.jumb2{
    opacity: 0.8;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.qwe {
background: red;
}
.ewq {
    background: green;
}
